
.footer-menu{
    justify-content: center;

}
.footer{
    margin-top: 3vh;
    color: rgb(58, 58, 58);
    font-weight: normal;
    font-size: smaller;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 15px;
}