img {
    width: 8%;
    object-fit: contain;
}



.home-div img {
    width: 17vw;


    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #9a9a9a;
}

.home-div {
    display: flex;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.home-div .login-menu {
    padding: 0px 20px;
    margin-top: 50px;
    border: 1px solid #dfdfdf;
    width: 300px;
    height: 400px;
    margin-bottom: 0px;
}

.home-div .login-menu input {
    background-color: #fafafa;
    border: 0.1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    width: 280px;
    margin-bottom: 5px;
}

.home-div .login-menu button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin-top: 10px;
    color: white;
    background-color: #4cb5f9;
    font-weight: bold;
    font-size: small;
}

.home-div .fp {
    color: #3f6990;
    font-size: smaller;
}

.home-div .login-menu h4 {
    color: #9a9a9a;
    font-weight: normal;
    font-size: medium;
}

.home-div .login-menu-2 {
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #dfdfdf;
    width: 300px;
    height: 50px;
}

.home-div .insta-logo {
    width: 180px !important;
}

.home-div a {
    color: #159ef7;
}