img{
    width: 10%;
    object-fit: contain;
}
.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px rgba(128, 128, 128, 0.444);
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 15px;
}
